# Getting price data on SP500 stocks from 2013 till the end of 2019

In [2]:
import numpy as np
import pandas as pd 
from pylab import plot,show
import pandas_datareader as dr
from sklearn.cluster import KMeans
from matplotlib import pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn import linear_model
import bs4 as bs
import requests
import yfinance as yf
import datetime #importing libraries

In [3]:
resp = requests.get('http://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
soup = bs.BeautifulSoup(resp.text, 'lxml')
table = soup.find('table', {'class': 'wikitable sortable'})
tickers = []
for row in table.findAll('tr')[1:]:
    ticker = row.findAll('td')[0].text
    tickers.append(ticker)

tickers = [s.replace('\n', '') for s in tickers] # importing all stock symbols as tickers.

In [4]:
prices_list = []
for ticker in tickers:
    try:
        prices = dr.DataReader(ticker,'yahoo','01/01/2013')['Adj Close']
        prices = pd.DataFrame(prices)
        prices.columns = [ticker]
        prices_list.append(prices)
    except:
        pass
    prices_df = pd.concat(prices_list,axis=1)
prices_df.sort_index(inplace=True)
prices_df.head() # getting adjusted close price data for each ticker from 2013 till now and creating a dataframe with it.

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-02,76.235191,27.382978,25.027666,13.69,58.386585,10.243313,38.340000,2.53,70.995186,8.476271,...,96.279900,20.939499,14.776089,31.153555,24.603680,41.311356,40.959999,63.264393,19.460474,NaN
2013-01-03,76.146736,28.425323,24.821001,13.45,58.175224,10.299441,37.750000,2.49,70.995186,8.430033,...,97.315514,20.878317,14.776089,31.094772,24.523157,41.569702,41.000000,64.170830,19.487015,NaN
2013-01-04,76.709747,28.254448,24.507444,13.41,58.496490,10.449116,38.130001,2.59,72.101913,8.630382,...,98.489761,20.954798,14.611683,30.657999,24.487370,42.024899,40.669998,64.497902,20.044556,NaN
2013-01-07,76.806290,28.485126,24.557327,13.25,58.242851,10.458469,37.939999,2.67,71.857071,8.360685,...,98.824097,20.733017,14.858288,30.531998,24.165289,41.760395,40.900002,64.656769,19.947205,NaN
2013-01-08,76.814316,28.493668,24.022856,13.21,58.581032,10.280732,38.139999,2.67,70.681801,8.360685,...,98.742554,20.771250,14.837740,29.910440,23.870043,40.007313,40.930000,64.750221,19.548969,NaN

In [5]:
All_df = prices_df[~(prices_df.index > '2019-12-31')] # removing all price data after 2019 as I do not want the data of 2020 due to the Covid 19 influence.

In [6]:
All_df.to_csv('sp500_Prices2013till2019.csv') # storing the data into a CSV file